@import url('https://fonts.googleapis.com/css?family=Raleway:200');

.container {
    display: flex;
    flex-direction: column;
    font-family: raleway;
    font-size: 40px;
}

.container>* {
    border: 1px solid #444;
    padding: 0;

}

header {
    justify-content: space-between;
    min-height: 10vh;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
}

.wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    z-index: 0;
}

.main-content {
    z-index: 0;
}

footer {
    z-index: 1;
}

.sidebar {
    z-index: 0;
    min-width: 15vw;
    /* display: flex;
    flex-direction: column; */
    justify-content: space-between;
    /* flex-wrap: wrap; */
    /* border-right: 0 solid #D7DBDD; */
    background: #34495e;
}

.item {
    padding: 10px 20px;
    color: white;
    font-size: 20px;
}

.section {
    padding: 10px;
}